<section class="screen-container">
  <div class="row h-100">
    <div class="col-3">
      <div class="settings-container">
        <div class="apparatus-icons">
          <div class="position-relative" style="margin-right: 89px;" class="list">
            <div *ngFor="let item of layoutViewList">
              <a  [style.transform]="'translate3d(' + item.TablePositionX + 'px, ' + item.TablePositionY + 'px, 0px)'">
                <img *ngIf="item.TableNo" src="./assets/table.jpg" alt="Your Image"
              >
              </a>
            </div>
          </div>
          <div class="position-relative">
            <div *ngFor="let item of layoutViewList">
             <div  *ngIf="item.ChairNo">
              <div [ngClass]="{'disabled':item.OrderStatus==true}">
                <a (click)="selectSeat(item)" [style.transform]="'translate3d(' + item.ChairPositionX + 'px, ' + item.ChairPositionY + 'px, 0px)'">
                  <img  src="./assets/chair.png" alt="Your Image" [ngClass]="{
                    'selected-img': (selectedSeatList.includes(item.Id) && !layoutViewList.includes(item.Id)),
                    'disabled': item.OrderStatus==true
                  }"

                >
                </a>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn-primary ms-3 px-4 py-2 fs-5 rounded-3" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="layout-container">
        <div *ngFor="let item of layoutViewList">
        </div>

      </div>
    </div>
  </div>





</section>

<!-- <div cdkDropListGroup class="users-container">
  <div
    cdkDropList
    [cdkDropListData]="users"
    class="users-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let user of users" cdkDrag class="user">{{ user.name }}</div>
  </div>
</div> -->


<img src="./assets/table.jpg" alt="Workplace" usemap="#workmap" width="400" height="379">

<map name="workmap">
  <area shape="rect" coords="34,44,270,350" alt="Computer" href="./assets/chair.png">
  <area shape="rect" coords="290,172,333,250" alt="Phone" href="./assets/table.jpg">
  <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="./assets/chair.png">
</map>



